<div class="flexcol table">
  <br/>
  <div class="item">
    <p>
      {{message}}
    </p>
  </div>
  <div *ngIf="isReady()">
    <div class="flexrow">
      <div class="item" *ngFor="let card of opponent.cards; let i = index">
        <img class="card-back" src="assets/uno-back.png">
      </div>
    </div>
    <div class="item">
      <mat-chip-list>
        <mat-chip selected="true" [color]="isMyTurn() ? '' : 'accent'">{{opponent.name}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="flexrow centerRaw">
      <div class="item">
        <img class="card-back" src="assets/uno-back.png">
        <div class="item" *ngIf="isMyTurn()">
          <button mat-raised-button color="primary" (click)="drawCard()">Pick</button>
          <!-- <button type="button" (click)="drawCard()">Pick new card</button> -->
        </div>
      </div>
      <div class="item">
        <div class="card" [ngClass]="getCardClasses(getLastPlayed())">
          <span class="inner">
            <span class="mark">{{getLastPlayed().value}}</span>
          </span>
        </div>
      </div>
    </div>

    <div class="item">
      <mat-chip-list>
        <mat-chip [color]="isMyTurn() ? 'accent' : ''" selected="true">{{authService.name}}</mat-chip>
      </mat-chip-list>
    </div>

    <div class="flexrow">
      <div class="item" *ngFor="let card of me.cards; let i = index">
        <div class="card" [ngClass]="getCardClasses(card)" (click)="playCard(i)">
          <span class="inner">
            <span class="mark">{{card.value}}</span>
          </span>
        </div>
      </div>
    </div>
    <br/>
  </div>
</div>